body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

#myForm {
  width: 350px;
  margin: 50px auto;
}

#myForm label {
  color: #666;
  display: block;
  margin-bottom: 6px;
}

#myForm .control {
  margin-bottom: 20px;
}

#myForm input {
  width: calc(100% - 20px);
  padding: 5px 10px;
  line-height: 20px;
  font-size: 15px;
  margin-bottom: 6px;
  border: 1px solid rgba(0, 0, 0, 0.22);
}

#myForm input:focus {
  outline: none;
  border-color: rgba(94,76,2,.42);
  box-shadow: 0 0 6px 2px rgba(255,204,0,.7), 0 1px 0 rgba(255,255,255,.2), inset 0 1px 1px rgba(0,0,0,.1);
}

#myForm button {
  cursor: pointer;
  outline: none;
  width: 100%;
  color: #000;
  border: 1px solid rgba(83,56,0,.47);
  border-radius: 3px;
  font-size: 15px;
  line-height: 22px;
  background: #ffd630;
  padding: 5px 15px;
}

#myForm button:hover {
  background: linear-gradient(rgba(255,204,0,.7), rgba(255,204,0,.5) );
}

#myForm #resultContainer {
  padding: 10px;
}

#resultContainer.success {
  color: green;
}

#resultContainer.error {
    color: red;
}

#resultContainer.progress {
  color: orange;
}
